.sidebar{
    width: 25vw;
    height: 95vh;
    background-color: var(--alternate-color);
    position: fixed;
    border-radius: 25px 0 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chatContainer{
    width: 90vw;
    height: 95vh;
    margin-top: 2.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:var(--alternate-background-color) !important;
    border-radius: 25px;
}

