.sidebar{
    width: 25vw;
    height: 95vh;
    background-color: var(--alternate-color);
    border-radius: 25px 0 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-area: "a";
}
.chatContainer{
    width: 90vw;
    height: 95vh;
    margin-top: 2.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:var(--alternate-background-color) !important;
    border-radius: 25px;
}

.chatContent{
    width: 65vw;
    height: 95vh;
}

.inputSection .buttonInput{
    width:5vw;
    height: 5vh;
    border: 2px solid black;
    border-radius: 35px;
    margin-top: calc(90vh - 10px);
    padding: 10px;
}

 .inputSection input[type = "text"]{
    width: calc(50vw - 4px);
    height: 5vh;
    background-color: var(--background-color);
    border: none;
    border: 2px solid black;
    font-size: 1rem;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-top: calc(90vh - 15px);
    border-radius: 35px;
    padding: 0px 1.5vh;
    margin-right: 1vw;

}

@media only screen and (max-width: 768px) {

    .inputSection input[type = "text"]{
        width: calc(40vw - 4px);
    }

    .inputSection button{
        width: 7vw;
        height: 5vh;
    }
}