.loginContainer{
    width: 70vw;
    height: 75vh;
    margin-top: 10vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:var(--alternate-background-color) !important;
    border-radius: 25px;
}

.loginContent{
    margin: 0 7vw;
}

.loginLogin img{
    width: 250px;
    height: 250px;
    clip-path: circle();
    background-color:var(--alternate-background-color) !important;
}

