.loginContainer{
    width: 70vw;
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:var(--alternate-background-color) !important;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly !important;
    min-height: 340px;
    flex-wrap: nowrap !important;
    min-width: 350px;
    padding-left: 25px;
    padding-right: 25px;
}

.loginContent{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.loginLogin img{
    width: 250px;
    height: 250px;
    clip-path: circle();
    background-color:var(--alternate-background-color) !important;
}

