
h1{
    color: var(--alternate-color) !important;
    font-size: 3vw;
}

h5{
    font-style: italic;
    color: var(--content-color) !important;
    font-weight: normal;
    border-bottom: 3px solid var(--alternate-color) !important;
    margin: 0 10vw; 
}

.importantLinks{
    width: 25vw;
    height: 7vh;
    background-color:var(--background-color) !important;
    margin: 2vh 3vw;
    border-radius: 35px;
    transition: all 0.1s ease;
    cursor: pointer;
    padding: 7px;
}


.importantLinks img{
    width: 45px;
    clip-path: circle();
}

.importantLinks h3{
    color: var(--alternate-color) !important;
    margin: 0;
    padding: 0;
}

.importantLinks :nth-child(1){
    margin: 0 1.5vw;
}
.importantLinks :nth-child(2){
    margin: 0 2vw;
}

.importantLinks:hover{
    transform: scale(1.1);
    z-index: 2;
}

.homeLinks{
    margin: 3vh 0;
}


@media only screen and (max-width: 786px) {

    h1{
        font-size: 12vw;
    }

      
    .importantLinks{
        width: 65vw;
        height: 7vh;
    }
    

    .importantLinks img{
        width: 35px;
        clip-path: circle();
    }
  

    
}