h1 {
    /* color: var(--alternate-color) !important; */
    font-size: 5rem;
}


.homeLinks {
    width: 100%;
    height: 5rem;
    /* background-color: #f3f3f3 !important; */
    border-radius: 5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 1rem 0;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 8px 30px rgb(0, 0, 0, 0.12);
}

.homeLinks:hover {
    transform: scale(1.025);
    z-index: 2;
}
.homeLinks:focus {
    transform: scale(0.975);
    z-index: 2;
}
.welcome-container {
    width: calc(40% - 5rem);
    height: calc(90vh - 6.5rem);
    padding-left: 5rem;
    background-image: linear-gradient(to right, var(--background-color) 0%, var(--alternate-color-transparent) 50%);
}
.welcome-container > h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
}
.welcome-container > h1 {
    color: initial;
    font-size: 4rem;
    margin-top: 1rem;
}
.action-container {
    padding-left: 5rem;
    width: calc(60% - 15rem);
}
.action-container > h3 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
    margin-top: 1rem;
}
.right-triangle {
    width: 0;
    height: 0;
    border-right: 5rem solid transparent;
    border-top: calc(90vh - 6.5rem) solid var(--alternate-color-transparent);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: -1;
}
.homeLinks img {
    width: 45px;
    clip-path: circle();
}
.homeLinks h3 {
    color: black !important;
}

.homeLinks :nth-child(1) {
    margin: 0 0.5rem;
    margin-left: 1rem;
}
.homeLinks :nth-child(2) {
    margin: 0 0.5rem;
}

@media only screen and (max-width: 786px) {
    h1 {
        font-size: 3.5rem !important;
    }

    .homeLinks {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap !important;
    }

    .homeLinks img {
        width: 35px;
        clip-path: circle();
    }
    .right-triangle {
        display: none;
    }
    .welcome-container {
        width: 100%;
        min-height: calc(60vh - 6.5rem);
        height: fit-content;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .welcome-container h3 {
        margin-bottom: 16px;
    }
    .action-container {
        width: 100vw !important;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        margin-bottom: 1rem;
    }
}


@media only screen and (max-height: 414px) {
    .welcome-container {
        padding-right: 2rem;
        padding-bottom: 2rem;
        height: 100vh;
    }
    .right-triangle{
        display: none;
    }
}
