.homeContainer{
    width: 70vw;
    height: 75vh;
    margin-top: 5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:var(--alternate-background-color) !important;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .homeContainer{
        width: 85vw;
    }
}