.mapPageContainer {
    margin: 0;
    width: 100vw;
    height: 100%;
}

.mapControls {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    background-color: var(--alternate-background-color) !important;
    /* margin: 3vh 5vw; */
    border-radius: 5rem;
    box-shadow: 0 8px 30px rgb(0, 0, 0, 0.12);
    border: 1px solid rgb(0, 0, 0, 0.12);
}

.mapControls > * {
    padding: 1rem;
}
.mapControls svg:hover {
    fill: var(--alternate-color);
}
.mapControls svg {
    transition: fill 0.2s;
}

.content {
    margin: 15vh 0;
}

.controlContainer h1 {
    text-align: center;
    border-bottom: 3px solid var(--alternate-color);
}

.controlContainer .go {
    outline: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--alternate-color);
    background-color: var(--alternate-color-transparent);
    transition: all 0.3s ease;
}
.controlContainer > div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.controlContainer {
    /* height: 40vh;
    width: 25vw; */
    position: absolute;
    bottom: 11rem;
    left: 5rem;

    background-color: var(--alternate-background-color) !important;
    border-radius: 35px;
    border: 1px solid rgb(0, 0, 0, 0.12);
    background-color: var(--alternate-background-color);
    box-shadow: 0 8px 30px rgb(0, 0, 0, 0.12);
    padding: 2rem;
    z-index: 1;
}
.controlContainer > h3 {
    text-align: left;
}
.controlButton {
    background-color: var(--alternate-background-color) !important;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: var(--alternate-background-color);
    color: dodgerblue;
}

.controlContainer .go:hover {
    background-color: var(--alternate-color);
}

.controlContainer input {
    width: 100%;
    height: 2vh;
    outline: none;
    border: none;
    border-bottom: 3px solid var(--alternate-color);
    font-size: 2vh;
}

.mapIcon > * {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid white;
}

.searchMarkerCurrent {
    background: dodgerblue !important;
}

.searchMarkerFind {
    background: red !important;
}

@media only screen and (max-width: 768px) {
    .mapControls {
        /* width: 65vw;
        height: 7.75vh; */
        left: 1rem;
    }

    .controlContainer {
        /* width: 100vw;
        height: 25vh;
        margin-top: 15vh; */
        left: 1rem;
    }

    
    .refreshIcon {
        font-size: 7vw;
    }
}
