.importantLinks{
    width: 80%;
    height: 7vh;
    background-color:var(--background-color) !important;
    margin: 2vh 3vw;
    border-radius: 35px;
    transition: all 0.1s ease;
    cursor: pointer;
    padding: 7px;
    align-items: center;
}
.importantLinks > img{
    height: 100%;
    clip-path: circle();
    margin-right: 20px;
}

.faq-container{
    width: 50%;
}

.link-container{
    width: 50%;
    overflow-y: scroll;
}

.titleResources{
    margin-top: 10px;
}