.importantLinks{
    width: 80%;
    height: 7vh;
    background-color:var(--background-color) !important;
    margin: 2vh 3vw;
    border-radius: 35px;
    transition: all 0.1s ease;
    cursor: pointer;
    padding: 7px;
    align-items: center;
}

.faq-container{
    width: 50%;
}

.link-container{
    width: 50%;
}