nav {
    width: 90%;
    height: 5rem;
    margin-top: 1rem;
    background-color: var(--alternate-background-color) !important;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;
    z-index: 2;
    padding: 0.25rem;
}
.default {
    width: 90% !important;
    margin: 3vh 1vw;
}

.open {
    width: calc(90vw - 2vw - 5px) !important;
    margin: 3vh 1vw;
}

nav a {
    text-decoration: none;
    color: var(--content-color) !important;
    margin: 0 1.25vw;
    cursor: pointer;
}

nav button {
    text-decoration: none;
    color: var(--content-color) !important;
    margin: 0 1.25vw;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

nav .profile {
    width: 35px !important;
    clip-path: circle();
}

nav img {
    width: 50px;
}
nav svg:hover {
    transform: rotate(15deg);
}
nav svg {
    transition: transform 0.25s;
}
.dropdown {
    margin: 0 1.25vw;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    nav img {
        width: 5vh !important;
    }
    nav {
        height: 3rem;
    }
}
