nav{
    width: 90%;
    height: 10vh;
    margin-top: 3vh;
    background-color: var(--alternate-background-color) !important;
    border: 5px solid var(--alternate-color);
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    position: relative;
}
.default{
    width: 90% !important;
    margin: 3vh 1vw;
}

.open{
    width: calc(90vw - 2vw - 5px) !important;
    margin: 3vh 1vw;
}


nav a{
    text-decoration: none;
    color: var(--content-color) !important;
    margin: 0 1.25vw;
    cursor: pointer;
}

nav button{
    text-decoration: none;
    color: var(--content-color) !important;
    margin: 0 1.25vw;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

nav img{
    width: 50px !important;
    clip-path: circle();
}



.dropdown{
    margin: 0 1.25vw;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    nav img{
        width: 5vh !important;
    }
}
