.settings .left{
    width: calc(50% - 50px);
    background-color: var(--alternate-color);
    color: var(--alternate-background-color) !important;
    padding: 25px;
}

.settings .left > *{
    margin: 1vh 0;
}
.settings h1{
    color: var(--alternate-background-color) !important;
    font-size: 7vh !important;
}

.settings h2{
    color: var(--alternate-background-color) !important;
    font-size: 3vh !important;
}

.settings .right{
    width: calc(50% - 50px);
    padding: 25px;
}

.settings .right > *{
    margin: 1vh 0;
    color: var(--content-color) !important;
}

.side-container{
    border-radius: 20px;
    overflow: hidden;
}

.settings .right .year-input{
    width: 8rem;
    font-size: 16px;
    padding: 15px;
    outline: none;
    margin-bottom: 5vh;
    margin-top: 3vh;
    border: 2px solid var(--content-color);
    border-radius: 8px;
    transition: 0.15s;
}

.settings .right .year-input:focus{
    border-color: var(--alternate-color);
}
.scheduleInputs .info-input{
    width: 11rem;
    transition: 0.15s;
    height: 1vh;
    font-size: 14px;
    padding: 15px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 3px solid grey;
}

.scheduleInputs .info-input:focus{
    border-bottom-color: var(--alternate-color);
}

.right .submit-button{
    background-color: var(--alternate-color);
    color: var(--alternate-background-color) !important;
    font-size: 16px;
    padding: 16px 3rem;
    outline: none;    
    border: none;
    cursor: pointer;
    transition: 0.15s;
    border-radius: 8px;
}
.right .submit-button:hover{
    transform: scale(1.08);
}
.periodTitle{
    margin: 0 0 1vh 0;
}
.periodContainers {
    margin: 1vh 0;
}

.true{
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    .left{
        width: 100% !important;
        height: 25% !important;
    }

    .settings h1{
        color: var(--alternate-background-color) !important;
        font-size: 5vh !important;
    }
    
    .settings h2{
        color: var(--alternate-background-color) !important;
        font-size: 2vh !important;
    }
    .right{
        width: 100% !important;
        height: 75% !important;
    }
    .side-container{
        overflow: hidden !important;
        border-radius: 20px;
    }
}