.settings .left {
    width: calc(50% - 50px);
    background-color: var(--alternate-color);
    color: var(--alternate-background-color) !important;
    padding: 25px;
}

.settings .left > * {
    margin: 1vh 0;
}
.settings h1 {
    color: var(--alternate-background-color) !important;
    font-size: 7vh !important;
}

.settings h2 {
    color: var(--alternate-background-color) !important;
    font-size: 3vh !important;
}

.settings .right {
    width: calc(50% - 50px);
    padding: 25px;
}

.settings .right > * {
    margin: 1vh 0;
    color: var(--content-color) !important;
}

.side-container {
    border-radius: 20px;
    overflow: hidden;
}
.init{
    margin-top: 10vh;
}
.setting-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.year-container {
    width: 45%;
    /* margin-left: 40%; */
    /* padding: 3rem; */
}
.year-container h2 {
    font-size: 2.75rem;
}
.year-container > * > input {
    margin-top: 0.5rem;
    width: calc(100% - 2rem);
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(240, 240, 240);
    color: var(--content-color);
    font-size: 2rem;
    padding: 1rem;
    transition: 0.25s all;
}
.year-container > * > input:focus {
    background-color: var(--alternate-color-transparent);
    outline: none;
    /* outline: 2px solid var(--shadow-color); */
}
.schedule-container {
    width: calc(55% - 4rem);
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.periodContainers {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    margin-top: 0rem;
    /* justify-content: space-around; */
}
.promptPeriod {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    margin: 1rem;
    /* justify-content: space-around; */
}
.promptPeriod > h2 {
    margin: 0rem;
}
.promptPeriod > p {
    margin: 0rem;
    text-align: left;
}
.periodContainers > h2 {
    font-size: 2rem;
    margin-right: 2rem;
}
.periodContainers > input {
    margin-top: 0.5rem;
    width: 6rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(240, 240, 240);
    color: var(--content-color);
    font-size: 1.5rem;
    padding: 1rem;
    transition: 0.25s all;
}
.periodContainers > input:focus {
    background-color: var(--alternate-color-transparent);
    outline: none;
}
.year-input {
    width: 8rem;
    /* font-size: 16px;
    padding: 15px; */
    outline: none;
    /* margin-bottom: 5vh; */
    /* margin-top: 3vh; */
    /* border: 2px solid var(--content-color); */
    /* border-radius: 8px; */
    transition: 0.15s;
}


.scheduleInputs .info-input {
    width: 11rem;
    transition: 0.15s;
    height: 1vh;
    font-size: 14px;
    padding: 15px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 3px solid grey;
}

.scheduleInputs .info-input:focus {
    border-bottom-color: var(--alternate-color);
}

.submit-button {
    background-color: var(--alternate-color-transparent);
    color: var(--content-color) !important;
    font-size: 16px;
    padding: 16px 3rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.25s;
    border-radius: 8px;
    margin-bottom: 2rem;
}
.submit-button:hover {
    transform: scale(1.025);
    /* filter: saturate(150%); */
}
.submit-button:focus {
    transform: scale(0.975);
}

.periodTitle {
    margin: 0 0 1vh 0;
}
.year-sub-container {
    padding: 3rem;
}
.year-sub-container h2{
    font-size: 2.25rem;
    padding: 10px;
}
.true {
    height: 100vh;
}
.signOut{
    background-color: var(--red-transparent);
    color: white !important;
    transition: all 0.25s;
}
.signOut:hover{
    background-color: rgba(255, 0, 0, 0.75);
}


@media only screen and (max-width: 830px) {
    .setting-container {
        flex-direction: column;
    }
    .schedule-container {
        width: calc(100% - 2rem);
        padding: 1rem;
    }
    .year-container {
        width: 100%;
    }
    .year-sub-container {
        padding: 1rem;
    }

    .init{
        margin-top: 0vh;
    }
}
@media only screen and (max-width: 768px) {
    .left,
    .right {
        width: calc(100% - 50px) !important;
    }
    .left {
        height: 25% !important;
    }

    .settings h1 {
        color: var(--alternate-background-color) !important;
        font-size: 5vh !important;
    }

    .settings h2 {
        color: var(--alternate-background-color) !important;
        font-size: 2vh !important;
    }
    .right {
        height: 75% !important;
        overflow: scroll;
        padding-top: 50px;
        display: flex;
        justify-content: flex-start !important;
    }
    .side-container {
        overflow: hidden !important;
        border-radius: 20px;
    }
    .signOut-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
