.add-to-mobile{
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-family: "Open Sans", sans-serif;
    z-index: 5;
}

.grey-opaque{
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
}

.cancel-icon{
    margin-left: 15px;
    margin-top: 15px;
    color: red
}



.add-to-mobile img{
    width: 150px;
    padding: 15px;
    border-radius: 25px;
}

.add-to-mobile h3{
    padding-bottom: 1rem;
    border-bottom: 3px solid grey;
}

.add-to-mobile p{
    margin: 0.5rem 1rem;
    text-align: left;
    font-size: 0.95rem;
}
.add-to-mobile button{
    background-color: #0ca1b4;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all .3s ease;
}

@keyframes slide-from-bottom {
    0% {
      margin-top: 150vh;
    }
    100% {
      margin-top: 0;
    }
  }