@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");

html {
    --background-color: rgb(255, 255, 255);
    --alternate-background-color: white;
    --alternate-color: #ddbd55;
    --alternate-color-transparent: #fff2c8;
    --red-transparent: rgba(255, 0, 0, 0.5);
    --content-color: black;
    --shadow-color: #d3d3d3;

    --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
    --rsbs-bg: white;
    --rsbs-handle-bg: transparent;
    --rsbs-max-w: auto;
    --rsbs-ml: env(safe-area-inset-left);
    --rsbs-mr: env(safe-area-inset-right);
    --rsbs-overlay-rounded: 16px;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
    opacity: 0.85;
}
:-moz-placeholder {
    opacity: 0.85;
}
::-moz-placeholder {
    opacity: 0.85;
}
:-ms-input-placeholder {
    opacity: 0.85;  
}

.errorUnderline{
    border-bottom: 3px solid red !important;
}

.colorRed{
    color: red !important;
}

h1 {
    margin: 0;
}
h2 {
    margin: 0;
}

.wrap {
    flex-wrap: wrap;
}

body {
    background-color: var(--background-color);
    color: var(--content-color);
    /* font-family: "Roboto", Helvetica, Arial, sans-serif; */
    /* font-family: "Lato", sans-serif; */
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

button {
    font-family: "Open Sans", sans-serif;
}
.container {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none !important;
    color: var(--content-color) !important;
}
.full-size {
    width: 100%;
    height: 100%;
}
.container {
    width: 70vw;
    height: 80vh;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
    background-color: var(--alternate-background-color) !important;
    border-radius: 25px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex-direction: column;
}
.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.onLoad {
    width: 100vw;
    height: 100vh;
}

.onLoad img {
    width: 50vh;
    transition: all 2s ease-in-out;
}

@media only screen and (max-width: 786px) {
    /* .container {
        width: 85vw !important;
    } */
}
