html {
    --background-color: #f5f5f5;
    --alternate-background-color: white;
    --alternate-color: #D7BE69;
    --content-color: black;
    --shadow-color: #d3d3d3 ;
}

h1{ 
    margin:0
}
h2{
    margin:0
}

body {
    background-color: var(--background-color);
    color: var(--content-color);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;

}
.container{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none !important;
    color: var(--content-color) !important;
}

.container{
    width: 70vw;
    height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:var(--alternate-background-color) !important;
    border-radius: 25px;
}


.flexbox{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

@media only screen and (max-width: 786px) {
    .container{
        width: 85vw !important;
    }
}